table,tr,td{border: 1px solid black;
    border-collapse: collapse;}
    td{padding: 25px;}
    table>tbody>tr:nth-child(odd)>td:nth-child(odd){background-color: black;}
    table>tbody>tr:nth-child(even)>td:nth-child(even){background-color: black;}