.tieude {
    color: blue;
    background-color: aliceblue;
}
.box {
    color: brown;
    background-color: #ffff;
}
.name { 
    color: blue;
    background-color: aliceblue;

}
.lichsu {
    color: #f00;
background-color: #ffff
;}
.trang {background-color: #9bf;}

